<a href="https://colab.research.google.com/github/Nakib-Nasrullah/Research-Skill/blob/main/my_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

In [ ]:
print("Welcome to python language !!")

Welcome to python language !!

# **Variable**

In [ ]:
name = "Nakib Nasrullah" #string
age = 27 #int
is_student = True #bool
height = 5.7 #float

print("Name : ", name)
print("Age : ", age)
print("Student status : ", is_student)
print("Height : ", height)

Name :  Nakib Nasrullah
Age :  27
Student status :  True
Height :  5.7

In [ ]:
name = "Rakib"
address = "Dhaka"
price = 1000
age = 29
result = None # in data analysis None/ null paly an important role, when there is no data anay colam or row, we apply this variable.
# null & Zero in not equl, (null != 0). zero is a value but null mins there is no value. in data preprocessing Null play an important role.
print(type(name))
print(type(address))
print(type(price))
print(type(age))
print(type(result))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'NoneType'>

In [ ]:
a = 50
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #Floor division / celing
print(a%b) #Modulus
print(a**b) #Exponentiation

54
46
200
12.5
12
2
6250000

In [ ]:
first = "Hello"
last = "Nakib"
#Concatenation
full = first + " " + last
print(full)
#Repetition
repeated = first * 3
print(repeated) # HelloHelloHello 3 times
#length
print(len(full))

Hello Nakib
HelloHelloHello
11

# Data **Structure**

In [ ]:
#Creating a list
# In set there are no access a duplicate value but in list tauple and dictionaray thre are accsee to put the duplicate value.
fruits=["apple","banana", "orange", "mango", "pineapple"]
#Accessing element
print(fruits[0])
print(fruits[2])
print(fruits[-1])
# Slicing a lists
print(fruits[1:4])
fruits[1] = "grape" # Changing an element
print(fruits)

apple
orange
pineapple
['banana', 'orange', 'mango']
['apple', 'grape', 'orange', 'mango', 'pineapple']

In [ ]:
#Adding Elements in List
fruits = ["Apple", "banana"]
fruits.append("orange") # Add to an element in the end ["Apple", "banana", "orange"]
print(fruits)
fruits.insert(1, "mango") # Insert at position
print(fruits)
#In tauple you coldn't change the value or update the value.
# In dectionary there are a kee and a value for the kee.

['Apple', 'banana', 'orange']
['Apple', 'mango', 'banana', 'orange']

In [ ]:
# Remove Element in list
fruits = ["apple", "mango", "banana", "orange", "Dove"]
fruits.remove("Dove")
print(fruits)
popped = fruits.pop() #Remove & return last item.
print(popped) # orange
print(fruits)

['apple', 'mango', 'banana', 'orange']
orange
['apple', 'mango', 'banana']

In [ ]:
#organiging list
fruits = ["orange", "apple", "mango", "banana"]
fruits.sort() #Alphabatic order
print(fruits)
fruits.reverse()
print(fruits)

['apple', 'banana', 'mango', 'orange']
['orange', 'mango', 'banana', 'apple']

In [3]:
# Creating a dictionary key:value
student = {
    "name": "Nakib",
    "age":26,
    "university":"AUB",
    "course":["python","Data Science", "Web Develpopment"],
    "ID":"202110125",
    "email":"nakibnasrullah129@gmail.com"
}
#Accesing values using keys
print(student["name"])
print(student["course"][1:3])

#Adding or modifying items
student["phone"] = "01521216744"
student["age"]=27
print(student["age"])
# Checking if a key exists
if "email" in student:
  print("Email found")
else:
  print("Email not found")

Nakib
['Data Science', 'Web Develpopment']
27
Email found

In [6]:
#creating a tuple
coordinates = (10.5, 20.8)
rgb_color = (255, 0, 128)
print(coordinates[0])
print(rgb_color[0])
#Attempt to change (will cause error)
#rgb_color[0]=200 #TypeError!
print(len(rgb_color))

10.5
255
3

## **String**

In [ ]:
s1 = "Hello"
s2 = "Nakib"
#Accessing charecters
text = 'python'
print(text[0]) #p
print(text[3]) #h

#slicing
text = "Hello Nakib"
print(text[0:5])
print(text [2:])
print(text[:4])

#Concatenation
a = "Hello"
b = "Nakib"
result = a + " " + b
print(result)

p
h
Hello
llo Nakib
Hell
Hello Nakib

In [ ]:
#Repetition
print("Nakib "*3)


print("NAKIB".lower())

Nakib Nakib Nakib
nakib

In [ ]:
#Convert case
print("okib".upper())

OKIB

In [ ]:
#length
len("Nakib Nasrullah")

15

In [ ]:
#Replace
"Hello Nakib".replace("Nakib", "Python")

'Hello Python'