<a href="https://colab.research.google.com/github/Nakib-Nasrullah/Research-Skill/blob/main/python_Class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Basic if-else
age = int(input("Enter your age: "))
if age >=18:
  print("You are adult.")
else:
  print("You are a minor")

Enter your age: 27
You are adult.

In [ ]:
#if-elif-else (muliple conditions)
score = int(input("Enter the score: "))
if score >=90:
  grade = "A+"
elif score >=80:
  grade = "A"
elif score >=70:
  grade = "B"
elif score >=60:
  grade = "C"
else:
  grade = "F"
print(f"Your grade is {grade}")

Enter the score: 98
Your grade is A+

In [ ]:
print(f"Your grade is {grade}")

In [ ]:
#nested if statements
temperature = 32
humidity = 80
if temperature > 30:
  if humidity > 70:
    print("Hot and humid")
  else:
    print("Hot but dry")
else:
  if humidity > 60:
    print("cool but humid")
  else:
    print("cool and dry")

Hot and humid

In [ ]:
if temperature > 30 and humidity > 70:
  print("Hot and humid")
elif temperature > 30 and humidity <= 70:
  print("Hot but dry")
elif temperature <= 30 and humidity > 70:
  print("cool but humid")
else:
    print("Cool and dry")

Hot and humid

In [ ]:
#other logical operator
has_id = True
is_holiday = False
if has_id or is_holiday:
  print("Can enter")
if not is_holiday:
  print("Work day")

Can enter
Work day

In [ ]:
temperature = int(input("Enter the temperature: "))
humidity = int(input("Enter the humidity: "))
if temperature > 30 and humidity > 70:
  print("Hot and humid")
elif temperature > 30 and humidity <= 70:
  print("Hot but dry")
elif temperature <= 30 and humidity > 70:
  print("cool but humid")
else:
    print("Cool and dry")

Enter the temperature: 29
Enter the humidity: 60
Cool and dry


Loop

In [ ]:
#looping through a list
fruits = ["apple", "banana", "orange"]
for i in fruits:
  print(f"I like {i}")
print("\n")

I like apple
I like banana
I like orange

In [ ]:
#Using range() function
for i in range(10):
  print(i)
print("\n")

for i in range(2,10):
  print(i)
print("\n")

0
1
2
3
4
5
6
7
8
9


2
3
4
5
6
7
8
9

In [ ]:
#Continue until a condition is met
count = 0
while count <5:
  print(count)
  count += 1 #Don't forgate to increment !!
print("\n")

0
1
2
3
4

In [ ]:
#with a break statement -
number = 0
while True:
  number +=1
  if number > 10:
    break
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Continue statemnet - skip to next iteration
for num in range(10):
  if num % 2 == 0:
    continue  #skep even number
  print(num)
print("\n")

1
3
5
7
9

In [ ]:
#Break statement - exit the loop
for num in range(100):
  if num > 10:
    break
  print(num)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Multiplication table (1-5)
for i in range(1, 6):
  for j in range(1, 6):
    product = i * j
    print(f"{i} X {j} = {product}")
  print("-------")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
-------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
-------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
-------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
-------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
-------

In [ ]:
#pattern printing
for i in range(1, 10):
  print("*" *i)

*
**
***
****
*****
******
*******
********
*********

**Function**

In [ ]:
#Define a simple funtion
def greet():
  print("Hello! Welcome to Python programming.")
  #calling function
greet()

Hello! Welcome to Python programming.

In [ ]:
#Function with parameters
def greet_person(name):
  print(f"Hello, {name}! How are you bro ??")
greet_person("Nakib")

Hello, Nakib! How are you bro ??

In [ ]:
#Function with return value
def add_numbers(a,b):
  sum = a + b
  return sum
result = add_numbers(5, 7)
print(f"The sum is {result}")

The sum is 12

In [ ]:
def multi_numbers(x,y):
  multip = x*y
  return multip
result = multi_numbers(5,6)
print(f"The multiplication is {result}")

The multiplication is 30

In [ ]:
def greet(name, message="Good morning"):
  print(f"{message}, {name} !")
greet("Nakib")
greet("Karim", "Hello")

Good morning, Nakib !
Hello, Karim !

In [ ]:
def descreption_person(name, age, city):
  print(f"{name} is {age} years old from {city}")
descreption_person("Nakib", "27", "Pirojpur")

Nakib is 27 years old from Pirojpur

In [ ]:
def calculator_status(numbers):
  total = sum(numbers)
  average = total/len(numbers)
  maximum = max(numbers)
  minimum = min(numbers)
  return total, average, maximum, minimum
stats = calculator_status([5,10,20,30])
print(stats)

(65, 16.25, 30, 5)

In [ ]:
total = 0 # Global variable
def add_to_total(value):
  global total
  total += value
  return total
print(add_to_total(5))
print(add_to_total(20))

5
25

In [2]:
#Math module
import math
print((math.pi)) # 3.1416
print(math.sqrt(25)) # 5.0

3.141592653589793
5.0

In [5]:
import random
print(random.randint(1, 20)) # Random number generating
print(random.choice(["apple","banana","orange","mango"]))

20
apple

In [6]:
import datetime
current_date = datetime.datetime.now()
print(current_date)

2025-12-27 07:46:12.136483

In [9]:
# mymath.py
%%writefile mymath.py
def add(a, b):
  return a + b
def sub(a, b):
  return a - b
PI = 3.1416

Overwriting mymath.py

In [11]:
import mymath
print(mymath.add(10, 20))
print(mymath.sub(30, 10))
print(mymath.PI)

30
20
3.1416